<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity
    Name="07c0184a-2b32-4f6e-89f6-2e0d4ec8b206"
    Version="1.0.0.0"
    Publisher="CN=Khalim" />

  <Properties>
    <DisplayName>GraphicTest</DisplayName>
    <PublisherDisplayName>Khalim</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <m2:VisualElements
        DisplayName="GraphicTest"
        Description="GraphicTest"
        ForegroundText="light"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square30x30Logo="images\SmallLogo.png">

        <m2:SplashScreen Image="images\splashscreen.png" />

      </m2:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
